{% load static %}
<header>
    <div class="container">
        <div class="header-top">
            <div class="header-left">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/">Главная страница</a></li>
                        <li><a href="/terms/dpas">Определение</a></li>
                        <li><a href="/legal">Организации</a></li>
                        <li><a href="/supply-chain">Поставки</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <!-- Кнопка скачать мобильную версию -->
                <a href="#" class="btn-download">
                    <i class="fas fa-mobile-alt"></i> Скачать приложение
                </a>
                
                <!-- Кнопки авторизации -->
                <div class="auth-buttons">
                    <a href="{% url 'login' %}" class="btn-login">Войти</a>
                    <a href="{% url 'registration' %}" class="btn-register">Регистрация</a>
                </div>
                
                <!-- Выбор языка -->
                <div class="language-selector">
                    <div class="selected-language">RU</div>
                    <div class="language-options">
                        <div class="language-option" data-value="ru">RU</div>
                        <div class="language-option" data-value="en">Eng</div>
                    </div>
                </div>
                <script src="{% static 'js/language-selector.js' %}"></script>
            </div>
        </div>
    </div>
</header>

<!-- Подключение стилей -->
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



