{% extends 'base.html' %}

{% block title %}Цепочка поставок комплектующих БАС{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container">
            <h1 class="hero-title">
            <span class="hero-title-line1">Цепочка поставок</span>
            <span class="hero-title-line2">комплектующих беспилотных авиационных систем</span>
                        <div class="hero-image">
                <img src="/static/img/бпла.png" alt="Беспилотный летательный аппарат">
            </div>
        </h1>
        <div class="lang-selectors-wrapper">
        </div>
    </div>
</section>

<div class="search-section">
    <div class="container">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Введите название комплектующего">
            <button class="search-btn">Найти</button>
        </div>
    </div>
</div>
<section class="supply-chain-section">
    
    <div class="aircraft-image-container">
        <img src="/static/img/Самолет_2.png" alt="Беспилотный летательный аппарат" class="aircraft-image">
    </div>
    
    <div class="supply-description">
        <p>В последние годы беспилотные летательные аппараты (БПЛА) стали важной частью военной, гражданской и коммерческой сфер во всем мире. В этом контексте Россия активно развивает свою индустрию, увеличивая производство и комплектацию.</p>
        
        <p>Комплектующие для российских беспилотников производятся как внутри страны, так и за ее пределами. Внутренние производственные возможности позволяют создавать и производить широкий спектр компонентов включая электронные компоненты, датчики, двигатели, бортовую электронику и другие важные элементы.</p>
        
        <p>Ключевые компании-поставщики комплектующих для БПЛА в России имеют высокий уровень компетенции и многолетний опыт работы в сфере авиационных технологий. Такие компании, как "Российские авиационные компоненты", "Электронные системы" и другие, обеспечивают высокое качество и надежность поставляемых комплектующих.</p>
        
        <p>Помимо внутреннего производства, некоторые комплектующие также могут поставляться из-за рубежа. В таких случаях осуществляется тщательный контроль качества и соблюдение всех необходимых стандартов.</p>
    </div>
    
    <div class="ad-space">
        <p>Тут могла быть ваша реклама</p>
    </div>
</section>
{% endblock %}