{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="password-change-container">
  <div class="password-change-header">
    <h2>Изменение пароля</h2>
    <p class="username">@{{ request.user.username }}</p>
  </div>

  <form method="post" class="password-change-form">
    {% csrf_token %}
    
    {% bootstrap_form form %}
    
<div class="password-requirements">
  <h5>Требования к паролю:</h5>
  <ul>
    <li class="requirement">Минимум 8 символов</li>
    <li class="requirement">Содержит специальные символы</li>
    <li class="requirement">Содержит цифры</li>
    <li class="requirement">Содержит заглавные и прописные буквы</li>
    <li class="requirement">Пароли должны совпадать</li> <!-- Добавлено в список -->
  </ul>
</div>
    
    <div class="form-actions">
      <button type="submit" class="submit-btn">Сохранить новый пароль</button>
      <a href="{% url 'users:profile' request.user.username %}" class="cancel-btn">Отмена</a>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/password-validation.js' %}"></script>
{% endblock %}